################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab2/.vs/CompNetworks2
/Lab3/.vs/CompN_Lab3
/Lab4/.vs/Comp.Net_Lab4
/Lab5/.vs/CompNet_5
